#flower-bg {
  background-image: url(./static/flower_bg.png);
  width: 100vw;
  height: 100vh;
  -webkit-filter: blur(2px) brightness(1.1);
  -ms-filter: blur(2px) brightness(1.1);
  filter: blur(2px) brightness(1.1);
}

.hint {
  background-color: #E63370;
  right: 25px;
  left: initial;
}
.hint span {
  color: white;
  font-weight: bold;
  font-size: 24px
}

.step-bg {
  width: 100vw;
  padding: 0;
}
.impress-enabled .step {
 opacity: 1;
}

.img_welcome {
  width: 100%;
  -webkit-filter: drop-shadow(2px 5px 1px #eee9);
  -ms-filter: drop-shadow(2px 5px 1px #eee9);
  filter: drop-shadow(2px 5px 1px #eee9);
}
.img_uli {
  width: 100%;
  height: auto;
}

.info {
  position: relative;
  width: 340px;
}
.info.right {
  float: right;
}

.info_detail {
  position: relative;
  width: 300px;
  background: #fff7;
  padding: 40px 20px 5px 20px;
  border-radius: 20px;
  font-size: 27px;
  overflow: hidden;
}

.place_title {
  position: absolute;
  top: -65px;
  font-weight: bold;
  font-size: 70px;
  color: #ffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #000;
  z-index: 9;
}

.remain {
  position: absolute;
  top: -60px;
  right: 15px;
  font-size: 12px;
  text-align: center;
  padding: 0 3px 3px 3px;
  background: #fff;
  border-radius: 4px;
}

.remain .days {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -10px;
  color: #E63370;
}

.btn {
  width: 300px;
  border-radius: 10px;
  padding: 5px 10px;
  background: #E91E63;
  color: #fff;
  font-size: 24px;
  text-align: center;
  position: absolute;
  left: 10px;
  bottom: -55px;
  cursor: pointer;
  transition: .2s all ease-in-out;
}
.btn:hover {
  background: #E63370;
  box-shadow: 0 4px 4px -1px #3337;
}
.btn:active {
  background: #D71155;
  box-shadow: 0 2px 2px -1px #3337;
}

.btn_next {
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 100;
}

.logo {
  position: absolute;
  width: 300px;
  bottom: -19px;
  /* right: -100px; */
  opacity: .4;
}